body {
	background-color: #FFFFFF;
	font-family: "Lexend", sans-serif;
	padding: 10vh 30vw;
	text-align: center;
	--accent-color: #4285F4;
}

@media only screen and (max-width: 1000px) {
	body {
		padding: 10vh 10vw;
	}
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
h1 {
	font-size: 4vh;
}
h2 {
	font-size: 3vh;
}

#logo {
	border-radius: 20px;
	max-height: 15vh;
	margin-bottom: 5vh;
}

#subtitle {
	margin-top: 2vh;
	font-size: 2vh;
	margin-bottom: 7vh;
}

#link-box {
	padding: 1.5vw;
	border-radius: 15px;
	text-align: center;
	box-shadow: 0 0 20px 0 #000000AA;
	margin-bottom: 7vh;
}
#link-box h2 {
	font-size: 2.5vh;
	margin-bottom: 2vh;
}
#link-box > div {
	/* start out the page with all steps hidden, they are controlled by JS */
	display: none;
}

#code-entry-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 25px;
}

#code-entry-container button {
	font-size: 20px;
	background: none;
	border: none;
	background-color: var(--accent-color);
	color: #FFFFFF;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	cursor: pointer;
}

#code-entry-container button:hover {
	opacity: 0.8;
}

#code-entry {
	padding: 10px;
	font-size: 15px;
	border: 3px solid var(--accent-color);
	border-radius: 5px;
	font-family: "Lexend", sans-serif;
}

#sign-in-button {
	margin: 0 auto;
	display: flex;
	justify-content: left;
	align-items: center;
	gap: 15px;
	font-size: 15px;
	background-color: #FFFFFF;
	color: #777777;
	border-radius: 3px;
	padding: 10px 15px;
	border: #AAAAAA 1px solid;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	cursor: pointer;
	transition: opacity 0.3s;
}
#sign-in-button:hover {
	opacity: 0.8;
}
#sign-in-button img {
	height: 20px;
}
#sign-in-button p {
	margin: 0;
}

@keyframes spinner {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

#step-2 {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 50px;
}
#step-2 i {
	animation-name: spinner;
	animation-duration: 0.6s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

#error {
	color: #FF0000;
	font-size: 15px;
}

#list-container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 7vh;
}
#list-container > ul {
	font-size: 2vh;
	text-align: left;
}

#footer {
	font-size: 1.5vh;
}
#footer a {
	text-decoration: underline;
	color: inherit;
}